@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Lobster);

.box1 {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	text-align: center;
	color: #FF0000
}
.box2 {
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
	margin: 60px;
	padding: 25px;
	color: #7FDB51;
	}

#tree-star {
	color: #F7DF57;
	width: 10%;
	text-align: right;
	margin: auto;
}

#tree1 {
	width: 20%;
	margin: auto;
}

#tree2 {
	width: 30%;
	margin: auto;
}

#tree3 {
	width: 40%;
	margin: auto;
}

#tree4 {
	width: 50%;
	margin: auto;
}

#tree5 {
	width: 60%;
	margin: auto;
}

#tree6 {
	width: 65%;
	margin: auto;
}

#tree7 {
	width: 70%;
	margin: auto;
}

#tree8 {
	width: 75%;
	margin: auto;
}

#tree9 {
	width: 80%;
	margin: auto;
}

#tree10 {
	width: 85%;
	margin: auto;
}

#tree11 {
	width: 90%;
	margin: auto;
}

#tree12 {
	width: 100%;
	margin: auto;
}

#tree-stump {
	width: 30%;
	color: #DBB537;
	margin: auto;
}

span {
	font-family: 'Lobster', cursive;
	font-weight: bold;
	font-size: 28px;
	color: black;
}

.sig {
	font-family: 'Lobster', cursive;
	font-size: 16px;
}
.clear {
	clear: both;
}
