<!DOCTYPE html>
<html>
<head>
  <title>ChallengeWhu1</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<div class = "clear">
<span class="sig">design by WeiHsi Hu, 24, December, 2014</span>
</div>
</html>
